<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhh.jhs.loan.mapper.share.CommissionSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.jhh.jhs.loan.entity.share.CommissionSummary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="per_id" property="perId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="inviter_id" property="inviterId" jdbcType="INTEGER" />
    <result column="inviter_phone" property="inviterPhone" jdbcType="VARCHAR" />
    <result column="commission_total" property="commissionTotal" jdbcType="DECIMAL" />
    <result column="commission_balance" property="commissionBalance" jdbcType="DECIMAL" />
    <result column="inviter_level1_count" property="inviterLevel1Count" jdbcType="INTEGER" />
    <result column="inviter_level2_count" property="inviterLevel2Count" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, per_id, phone, inviter_id, inviter_phone, commission_total, commission_balance, 
    inviter_level1_count, inviter_level2_count, update_date, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commission_summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commission_summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jhh.jhs.loan.entity.share.CommissionSummary" >
    insert into commission_summary (id, per_id, phone, 
      inviter_id, inviter_phone, commission_total, 
      commission_balance, inviter_level1_count,
      inviter_level2_count, update_date, version
      )
    values (#{id,jdbcType=INTEGER}, #{perId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{inviterId,jdbcType=INTEGER}, #{inviterPhone,jdbcType=VARCHAR}, #{commissionTotal,jdbcType=DECIMAL}, 
      #{commissionBalance,jdbcType=DECIMAL}, #{inviterLevel1Count,jdbcType=INTEGER}, 
      #{inviterLevel2Count,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jhh.jhs.loan.entity.share.CommissionSummary" >
    insert into commission_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="perId != null" >
        per_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="inviterId != null" >
        inviter_id,
      </if>
      <if test="inviterPhone != null" >
        inviter_phone,
      </if>
      <if test="commissionTotal != null" >
        commission_total,
      </if>
      <if test="commissionBalance != null" >
        commission_balance,
      </if>
      <if test="inviterLevel1Count != null" >
        inviter_level1_count,
      </if>
      <if test="inviterLevel2Count != null" >
        inviter_level2_count,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="perId != null" >
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inviterId != null" >
        #{inviterId,jdbcType=INTEGER},
      </if>
      <if test="inviterPhone != null" >
        #{inviterPhone,jdbcType=VARCHAR},
      </if>
      <if test="commissionTotal != null" >
        #{commissionTotal,jdbcType=DECIMAL},
      </if>
      <if test="commissionBalance != null" >
        #{commissionBalance,jdbcType=DECIMAL},
      </if>
      <if test="inviterLevel1Count != null" >
        #{inviterLevel1Count,jdbcType=INTEGER},
      </if>
      <if test="inviterLevel2Count != null" >
        #{inviterLevel2Count,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhh.jhs.loan.entity.share.CommissionSummary" >
    update commission_summary
    <set >
      <if test="perId != null" >
        per_id = #{perId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inviterId != null" >
        inviter_id = #{inviterId,jdbcType=INTEGER},
      </if>
      <if test="inviterPhone != null" >
        inviter_phone = #{inviterPhone,jdbcType=VARCHAR},
      </if>
      <if test="commissionTotal != null" >
        commission_total = #{commissionTotal,jdbcType=DECIMAL},
      </if>
      <if test="commissionBalance != null" >
        commission_balance = #{commissionBalance,jdbcType=DECIMAL},
      </if>
      <if test="inviterLevel1Count != null" >
        inviter_level1_count = #{inviterLevel1Count,jdbcType=INTEGER},
      </if>
      <if test="inviterLevel2Count != null" >
        inviter_level2_count = #{inviterLevel2Count,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=INTEGER} AND version = #{version}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhh.jhs.loan.entity.share.CommissionSummary" >
    update commission_summary
    set per_id = #{perId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      inviter_id = #{inviterId,jdbcType=INTEGER},
      inviter_phone = #{inviterPhone,jdbcType=VARCHAR},
      commission_total = #{commissionTotal,jdbcType=DECIMAL},
      commission_balance = #{commissionBalance,jdbcType=DECIMAL},
      inviter_level1_count = #{inviterLevel1Count,jdbcType=INTEGER},
      inviter_level2_count = #{inviterLevel2Count,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryCommissionByPersonId" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from commission_summary
    where per_id = #{personId}
  </select>

</mapper>